.main{
    width: 100%;
    height :fit-content;
    
}

.d-main{
    width : 100%;
    height : fit-content;
    padding : 5px;
    background-color: rgb(237, 235, 235);
    display: flex;
    flex-direction: column;

    gap: 3%;
}

.flex-f{
    width: 100%;
    height : fit-content;
    margin-top: 2%;
}

.data-main{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.foot-main{
    width : 100%;
    height : fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
    padding: 10px;
}

.foot{
    width : 80%;
    height : 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foot-block1{
    width : 50%;
    justify-content: end;
}

.foot-block1 p{
    color: gray;
}
.foot-block2{
    width : 50%;
    justify-content: end;
}
.foot-block2 p{
    text-align: end;
    width : 100%;
    color: rgb(75, 75, 247);
    cursor: pointer;
}





